/* body{
   font-family: 'Montserrat', sans-serif;
} */

.mainContainer{
  padding: 10px 40px 40px;
  display: "flex";
  flex-direction: "column";
  gap: 50px;
  flex-wrap: "wrap";
  margin-top: 20px;
}

.logoContainer{
  font-family: 'Lobster', cursive;
  padding: 15px;
  color: #10b981;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  font-family: 'Poppins', sans-serif;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 251, 251, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  width: 450px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10%;
}

.modalBody{
  display: "flex";
  flex-direction: "column"
}

.modalLabel{
  font-size: 20px;
  font-weight: 500;
  color: "#3A2E39";
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.viewModalLabel{
  font-size: 20px;
  font-weight: 500;
  color: "#3A2E39";
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

.viewDetail{
  font-size: 20px;
  color: "#3A2E39";
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton{
  background-color: #FF7F50;
}

.modalTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.modalActionName{
  width: 100%;
  height: 40px;
  border: 1px solid #3A2E39;
  padding: 10px;
  outline: none;
  margin-top: 5px;
}

.acceptModalButton{
  font-family: 'Montserrat', sans-serif;
  width: 120px;
  height: 40px;
  margin: 10px;
  border-color: #10b981;
  font-size: 15px;
  cursor: pointer;
}

.acceptModalButton:hover {background-color: #cbd5e1}

.acceptModalButton:active {
  background-color: #cbd5e1;
  transform: translateY(4px);
}

.declineModalButton{
  font-family: 'Montserrat', sans-serif;
  width: 120px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.declineModalButton:hover {background-color: #3e8e41}

.declineModalButton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.tableContainer{
  font-family: 'Poppins', sans-serif;
}

.deleteModalContainer{
  width: 450px;
  height: 210px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10%;
}

.viewModalContainer{
  width: 450px;
  height: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10%;
}

.viewModalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 90px; */
}



.deleteModalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.actionContainer{
  padding-left: 10px;
  display: flex;
}

.iconContainer{
  padding-left: 5px;
}

.viewLabelContainer{
  display: flex;
}

.tableHeader{
  color: #10b981;
  /* font-weight: bold; */
}

.addButton{
  font-family: 'Montserrat', sans-serif;
  width: 120px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton:hover {background-color: #3e8e41}

.addButton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}